@use '/react-src/styles/colors.scss' as colors;

.container {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.cPlusPlus,
.optimisation {
  position: absolute;
  width: 100%;
  height: 100%;
}

.cPlusPlus {
  background-color: colors.$orange;
  clip-path: polygon(0 0, 60% 0, 40% 100%, 0 100%);
}

.optimisation {
  background-color: colors.$orange-light;
  clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
}