<div class="bio-block">
  <img class="bio-picture" src="/assets/images/faces/profile_tom_looman_2024_1.jpg" loading="lazy" />
  <div>
    <h2 id="bio-header">Your Instructor: Tom Looman</h2>
      <p>
Game developer with 17+ years of programming and Unreal Engine experience at studios including Epic Games and as an indie developer along with many years of contract work focusing on C++ and performance optimization (The Forever Winter, The Talos Principle 2, Deliver Us Mars, Tales of Kenzara: Zau among others).

I have written Unreal Engine tutorials & guides for well over 10 years on a wide range of topics with a focus on C++, graphics, and game optimization.

Besides programming work I am an online instructor for AAA studios and Indies and have taught a curriculum at Stanford University on C++ Game Development with Unreal Engine.
      </p>
  </div>
</div>