<div class="bio-block">
  <img class="bio-picture" src="/assets/images/faces/profile_tom_looman_2024_1.jpg" loading="lazy" />
  <div class="bio-textblock">
      <p>
<strong>Game developer with 17+ years of programming and Unreal Engine experience</strong> at studios including <b>Epic Games</b> and as an indie developer along with many years of contract work focusing on gameplay programming with <b>C++</b> and <b>game optimization</b> (The Forever Winter, The Talos Principle 2, Deliver Us Mars, Tales of Kenzara: Zau among others).
<br><br>
I have written Unreal Engine <b>tutorials & guides professionally for well over 10 years</b> on a wide range of topics with a focus on C++, graphics, and game optimization.
<br><br>
Besides working on games, I am an online <b>instructor for AAA studios and Indies</b> and have taught a curriculum at <b>Stanford University</b> on C++ Game Development with Unreal Engine.
      </p>
  </div>
</div>