@use 'sass:color';
@use '/react-src/styles/colors.scss' as colors;
@use '/react-src/styles/breakpoints.scss' as breakpoints;

.singleInputFormWrapper {
    display: inline-flex;
    border: solid .5px white;
    border-radius: 5px;
    width: fit-content;

    @media (max-width: breakpoints.$breakpoint-md) {
        flex-direction: column;
    }

    .textFieldRoot {
        flex: 0 0 auto;

        > div {
            border-radius: 5px 0 0 5px;
            background-color: colors.$white;
            height: 100%;

            @media (max-width: breakpoints.$breakpoint-md) {
                border-radius: 5px 5px 0 0;
            }
        }

        * {
            font-size: .75rem;

            > input {
                height: 40px;
                box-sizing: border-box;
            }
        }
    }

    .signUpButton {
        background-color: colors.$orange;
        color: colors.$white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 0 5px 5px 0;
        font-size: .75rem;
        height: 40px;
        white-space: nowrap;

        @media (max-width: breakpoints.$breakpoint-md) {
            border-radius: 0 0 5px 5px;
        }

        &:hover {
            background-color: color.scale(colors.$orange, $lightness: -20%);
        }
    }
}