.reviewsWrapper {
    text-align: center;

    .reviews {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1.5rem;
    }
}