@use '/react-src/styles/colors.scss' as colors;

.emailSignUpBanner {
    background-image: url('../../assets/banner_full_gray.svg');
    background-repeat: no-repeat;
    background-size: calc(100% + 150px); // Zoom in slightly to hide right 150px
    background-position: left center;

    .emailSignUpContent {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 100px;

        b {
            color: colors.$orange;
            font-size: .75rem;
            width: 50%;
        }
    }
}