---
  # Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$max-width: 1400px;
$typeface: "Manrope", sans-serif;
$typeface-heading: "Manrope", sans-serif;

@import "minimal-mistakes/skins/default";
@import "minimal-mistakes"; // main partials

body {
  font-family: "Manrope", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Manrope", sans-serif;
}
