---
  # Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$max-width: 1400px;
$typeface: "Manrope", "Roboto", "Arial", sans-serif;
$typeface-heading: "Manrope", "Roboto", "Arial", sans-serif;
$color-blue: #103D59;
$color-orange: #ffa04a;
$color-offwhite: #F2F4FA;
$doc-font-size: 15px;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "overrides/variables";
@import "minimal-mistakes"; // main partials
@import "overrides/syntax";

#main {
  padding-inline: 0;
  max-width: unset;
  margin: 0;

  .archive {
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;

    > *:not(.wide-content) {
      padding: 0 200px;
    }

    @media screen and (max-width: 992px) {
      > *:not(.wide-content) {
        padding: 0 100px;
      } 
    }

    @media screen and (max-width: 768px) {
      > *:not(.wide-content) {
        padding: 0 2rem;
      }
      
    }
  }
}

a {
  color: $color-orange;
  font-weight: 500;
}

a:hover {
  color: $color-blue;
}

body {
  font-family: "Manrope", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Manrope", sans-serif;
}

h2 {
  margin-top: 1em;
}

.page__content h2 {
  border-bottom: none;
  padding-bottom: 0.2em;
}

.page__content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* captions below images inside of blogs, marked as EM by adding * around the text */
p > img + em {
  display: block;
  text-align: center;
  font-size: 0.8em;
}

/* inline code, similar to epic's docs */
.page__content :not(pre) > code {
  border-radius: 6px;
  border: .0625rem solid #404044;
  background: #263238c0;
  color: #fff;
}

/* text wrapping on big code blocks */
pre {
  white-space: pre-wrap;
}

div.highlighter-rouge, figure.highlight {
  border-radius: 6px;
  border: .0625rem solid #404044;
}

/* For blog stuff */

.layout--single .page__inner-wrap {
  max-width: 1100px;
}

p {
  font-size: .9em;
}

.page__content p {
  font-size: .85em;
}

.page__content li {
  font-size: 0.85em;
  margin-bottom: 0.1em;
}

.page-meta {
  font-size: 0.9em;
}

.page__footer { display: none; }

.archive__subtitle {
  border-bottom: none;
  font-size: 1.25em;
  color: unset;
  text-align: center;
}

.grid__item .archive__item-teaser {
  max-height: 100%; /* allow full height thumbnails */
}

.toc {
  font-family: $typeface;
}

/* TOP TITLE BAR*/

.site-title {
  text-transform: uppercase;
}

.masthead {
  background-color: $color-blue;
}

.masthead__inner-wrap {
  font-family: $typeface;
  padding: 0em;
}

.masthead__menu-item {
  font-size: 16px;
}

.greedy-nav {
  background: inherit;
}

.greedy-nav a {
  color: $color-offwhite;
}

.greedy-nav a:hover {
    color: #FFF;
}

.search__toggle {
  color: $color-offwhite;
}

.navicon {
  background: $color-offwhite;
}

/* underline for the menu items */
.greedy-nav .visible-links a:before {
  background: #FFF;
  height: 2px;
}

.site-logo img {
    max-height: 3em;
}

/* END TITLE BAR */