@use '/react-src/styles/colors.scss' as colors;
@use '/react-src/styles/breakpoints.scss' as breakpoints;

.emailSignUpBanner {
    background-image: url('../../../public/assets/banner_full_gray.svg');
    background-repeat: no-repeat;
    background-size: calc(100% + 150px); // Zoom in slightly to hide right 150px
    background-position: left center;

    .emailSignUpContent {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 200px;

        @media screen and (max-width: breakpoints.$breakpoint-md) {
            padding: 1rem 50px;
        }

        b {
            color: colors.$orange;
            font-size: .75rem;
            width: 50%;
        }
    }
}