@use '/react-src/styles/colors.scss' as colors;
@use '/react-src/styles/breakpoints.scss' as breakpoints;

.emailSignUpBanner {
    background-image: url('../../../public/assets/banner_full_gray.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;

    @media screen and (max-width: breakpoints.$breakpoint-md) {
        background-position: right 5px;
    }

    width: 100%;
    aspect-ratio: 1920 / 150;

    display: flex;
    align-items: center;

    .emailSignUpContent {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 200px;

        @media screen and (max-width: breakpoints.$breakpoint-lg) {
            padding: 1rem 100px;
        }

        @media screen and (max-width: breakpoints.$breakpoint-md) {
            padding: calc(1rem + 5px) 50px 1rem;
        }

        b {
            color: colors.$orange;
            font-size: .85rem;
            width: 50%;
        }
    }
}