@use '/react-src/styles/colors.scss' as colors;

.container {
  position: relative;
  width: 100%;
  aspect-ratio: 1200 / 450;
  min-height: 280px;
  max-height: 500px;
  overflow: hidden;
}

.cPlusPlus,
.optimisation {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.2s ease;
}

.cPlusPlus:hover,
.optimisation:hover {
  transform: scale(1.01);
}


.cPlusPlus {
  background-color: colors.$orange;
  clip-path: polygon(0 0, 60% 0, 40% 100%, 0 100%);
  background-image: url('../images/Home_Course_CPP_Hero.jpg');
  background-position: left top;
}


.optimisation {
  background-color: colors.$orange-light;
  clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
  background-image: url('../images/Home_Course_Optim_Hero.jpg');
  background-position: right bottom;
}