@use '/react-src/styles/colors.scss' as colors;

.container {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.cPlusPlus,
.optimisation {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.cPlusPlus {
  background-color: colors.$orange;
  clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
  background-image: url('../images/Home_Course_CPP_Hero.jpg');
  background-position: right bottom;
}

.optimisation {
  background-color: colors.$orange-light;
  clip-path: polygon(0 0, 60% 0, 40% 100%, 0 100%);
  background-image: url('../images/Home_Course_Optim_Hero.jpg');
  background-position: left top;
}