@use '/react-src/styles/colors.scss' as colors;

.reviewItem {
    border-radius: .5rem;
    box-shadow: 0 2px 8px lightgray;
    padding: 1rem;
    background-color: colors.$white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
        font-size: .65rem;
        margin: 0;
    }

    h5 {
        margin: 0;
    }

    .line {
        width: 100%;
        height: 0;
        border: 1px solid colors.$orange;
        margin: 1rem 0;
    }
}