@use '/react-src/styles/colors.scss' as colors;

.footer {
    position: relative;
    margin-top: 50px;

    .topImage {
        position: absolute;
        top: -50px;
        left: 0;
        width: auto;
        height: 100px;
        z-index: 1;
    }

    .container {
        display: grid;
        background-color: colors.$navy;
        grid-template-columns: 2fr 1fr 2fr;

        .links {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding: calc(50px + 2rem) 2rem 2rem;

            > a {
                color: colors.$white;
                text-decoration: none;
                font-size: .875rem;
                
                > i {
                    margin-right: .5rem;
                }
            }
        }

        .middle {
            width: 100%;
            height: 100%;
            position: relative;

            > div {
                position: absolute;
                width: 100%;
                height: 100%;
            }

            > div:first-of-type {
                clip-path: polygon(0 0, 30% 0, 30% 100%, 0 100%);
            }

            > div.image {
                clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
                background-color: colors.$orange-light; // todo: replace with actual image
                background-image: url('../images/faces/profile_tom_looman_2024_1.jpg');
                background-size: 100% auto;
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        .newsLetter {
            padding: calc(50px + 2rem) 2rem 2rem;

            > h2 {
                color: colors.$orange;
                margin: 0 0 .5rem;
            }

            > p {
                font-size: .7rem;
                color: colors.$white;
                margin: 0 0 1rem;
                line-height: 1.25;
            }
        }
    }
}

