@use '/react-src/styles/colors.scss' as colors;


.container {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.left,
.middle,
.right {
  position: absolute;
  width: 100%;
  height: 100%;
}

.left {
  background-color: colors.$orange-light;
  clip-path: polygon(0 0, 45% 0, 60% 100%, 0 100%);
}

.middle {
  background-color: colors.$navy;
  clip-path: polygon(45% 0, 55% 0, 70% 100%, 60% 100%);
}

.right {
  background-color: colors.$white;
  clip-path: polygon(55% 0, 100% 0, 100% 100%, 70% 100%);
}