@use '/react-src/styles/colors.scss' as colors;

.wrapper {
    border-bottom: 2px solid colors.$navy;

    .question {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        align-items: center;
        margin-top: .5rem;
        padding: .5rem;

        > p {
            margin: 0;
            font-size: .9rem;
        }

        .arrowWrapper {
            position: relative;
            height: 1.5rem;
            width: 2rem;
            min-width: 2rem;
        }

        .arrow {
            position: absolute;
            top: 0;
            left: 0;
            transition: opacity 0.3s ease;
            width: fit-content;
            height: 100%;
        }

        .arrowDown {
            top: 2px; // Adjusted for better alignment
        }

        .visible {
            opacity: 1;
            z-index: 2;
        }

        .hidden {
            opacity: 0;
            z-index: 1;
        }
    }

    .answer {
        padding: .25rem .5rem .5rem;
        margin: 0;
    }
}