---
layout: archive
---

{{ content }}

<br />
<br />

<h2 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Latest articles" }}</h2>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% assign latest_posts = posts | slice: 0, 4 %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=latest_posts type=entries_layout %}
</div>

{% include paginator.html %}

<div id="see-all-posts-button" data-text="See all posts" data-url="/blog"></div>

<br />

<div class="wide-content">
  <div id="footer"></div>
</div>
