@use '/react-src/styles/colors.scss' as colors;
@use '/react-src/styles/breakpoints.scss' as breakpoints;

.studioLogos {
  text-align: center;
  background-color: colors.$gray;
  padding: 1rem 0;

  h2 {
    margin: 0 0 1rem;
  }

  .logos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1rem;
    justify-items: center;
    align-items: center;

    img {
      max-width: 100px;
      max-height: 70px;
      display: block;
    }
  }
}
